
    /*  HEADER Y NAV  */
    header {
        background-color: #6c9f38;
        padding: 15px 0;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 20px;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    .logo {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
    }